body {
    @include font-size(1.8);
    color: $color-text;
    font: {
        family: $font-primary;
    }
    line-height: 1.6;
}

p {
    margin: 0 0 2em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}