.edd-ecourse-tooltip {
    background: #333 !important;
    border-radius: 3px !important;
    box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, 0.5);
    color: #dedede !important;
    max-width: 100px;
    padding: 7px;
    text-align: center;
    text-rendering: optimizeLegibility;
}