#edd-ecourse-update {
    #submit {
        margin: 10px auto;
    }
}

#edd-ecourse-details {
    .inside {
        margin: 0;
        padding: 0;
    }
}

/* Module List */

.edd-ecourse-module-group {
    .hndle {
        span {
            display: inline-block;
        }

        .button {
            display: inline-block;
            margin: 0 5px;
        }
    }

    &:not(.edd-ecourse-is-editing) {
        span {
            padding: 3px 5px 3px 0;
        }
    }
}

/* Add Module */
#edd-ecourse-add-module-form {
    .spinner {
        float: none;
    }
}