/* Add E-Course */
#edd-ecourse-add {
    .hndle {
        cursor: auto !important;
    }

    .spinner {
        float: none !important;
    }
}

/* Grid */
#edd-ecourse-grid {
    margin: 0 -1em;

    &, * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;

        > .edd-ecourse {
            flex: 0 0 50%;
        }
    }

    @media (min-width: 1200px) {
        > .edd-ecourse {
            flex: 0 0 33.3%;
        }
    }
}

.edd-ecourse {
    margin: 1em 0;
    padding: 1em;
}

.edd-ecourse-inner {
    background: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 0 3em 3em;
    position: relative;
    text-align: center;

    h2 {
        border-bottom: 1px solid #eee;
        margin: 0 -3em;
        padding: 1em 3em;
    }

    a {
        text-decoration: none;
    }

    @media (min-width: 768px) {
        .spinner {
            position: absolute;
            right: 3em;
            bottom: 3em;
        }
    }
}

.edd-ecourse-stats {
    background: #f1f1f1;
    font: {
        size: 1.2em;
    }
    margin: 2em auto;

    > div {
        padding: 1em;
    }

    @media (min-width: 1200px) {
        display: flex;
        max-width: 500px;

        > div {
            flex: 0 0 33.3%;
        }
    }
}

.edd-ecourse-actions {
    > .button {
        display: inline-block;
        margin: 2px;

        .dashicons {
            position: relative;
            top: 3px;
        }
    }
}