#edd-ecourse-update {
    #submit {
        margin: 10px auto;
    }
}

#edd-ecourse-details {
    .inside {
        margin: 0;
        padding: 0;
    }
}

/* Course TItle */

#edd-ecourse-title {
    input[type="text"] {
        background-color: #fff;
        font-size: 23px;
        line-height: 100%;
        margin: 0;
        outline: 0;
        padding: 3px 8px;
    }

    .button {
        display: inline-block;
        margin: 0 5px;
    }

    &.edd-ecourse-is-editing {
        .button {
            height: 39px;
        }
    }
}

/* Module List */

.edd-ecourse-module-group {
    .hndle {
        padding-left: 34px !important;
        position: relative;

        &:before {
            color: rgba(0, 0, 0, 0.2);
            content: '\f545';
            display: inline-block;
            font: {
                family: Dashicons;
                size: 16px;
            }
            position: absolute;
            top: 11px;
            left: 12px;
        }

        span {
            display: inline-block;
        }

        .button {
            display: inline-block;
            margin: 0 5px;
        }
    }

    &:not(.edd-ecourse-is-editing) {
        span {
            padding: 3px 5px 3px 0;
        }
    }
}

/* Add Module */
.edd-ecourse-add-module {
    .hndle {
        cursor: auto !important;
    }

    .spinner {
        float: none;
    }
}