#lesson_details,
#lesson_permission {
    label {
        display: block;
        font: {
            weight: 600;
        }
    }

    select {
        display: block;
        width: 100%;
    }
}

#edd-ecourse-free-preview,
#edd-ecourse-price-restrictions {
    label {
        font-weight: normal;
    }
}